@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Bacasime+Antique&family=Pixelify+Sans&family=Work+Sans:wght@100&display=swap');

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(73 4 151);
}

.score-tab{
    display: none;
}
.active{
    pointer-events: none;
    display: block;
    color: white;
    position: absolute;
    z-index: 10;
    font-size: 20px;
    left: 10px;
    top: 25px;
    margin: 0;
    font-family: 'Pixelify Sans', sans-serif;
}
.play-button{
    pointer-events: none;
    position: absolute;
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 45px;
    top: 386px;
    right: 459px;
    
}
.title{
    pointer-events: none;
    position: absolute;
    font-size: 72px;
    left: 221px;
    bottom: 208px;
    font-family: 'Pixelify Sans', sans-serif;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, deeppink, 
    blueviolet, indigo, red, darkorange,
    yellow, lime, mediumaquamarine, aqua, blue,
    olive);
    background-size: 400%, 400%;
    animation: move 10s ease infinite;
}
.over-title{
    display: none;
}
.over-title.active{
    display: block;
    pointer-events: none;
    position: absolute;
    font-size: 72px;
    left: 322px;
    top: 174px;
    font-family: 'Pixelify Sans', sans-serif;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, deeppink, blueviolet,
    indigo, red, darkorange,
    yellow, lime, mediumaquamarine,
    aqua, blue, olive);
    background-size: 400%, 400%;
    animation: move 10s ease infinite;
}
.over-score{
    display: none;
}
.over-score.active{
    display: block;
    pointer-events: none;
    position: absolute;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 45px;
    top: 280px;
    left: 318px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, deeppink, blueviolet,
    indigo, red, darkorange,
    yellow, lime, mediumaquamarine,
    aqua, blue, olive);
    background-size: 400%, 400%;
    animation: move 10s ease infinite;
}
.menu-button{
    display: none;
}
.menu-button.active{
    display: block;
    pointer-events: none;
    position: absolute;
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 45px;
    top: 384px;
    left: 433px;
}
.hidden {
    display: none;
}
.canvas {
    box-shadow: 13px 24px 12px 12px rgba(28, 0, 0, 0.2);
}
.instruction {
    pointer-events: none;
    display: flex;
    flex-direction: row;
}
.score-title{
    margin-top: 100px;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 55px;
    font-family: 'Pixelify Sans', sans-serif;
    filter: drop-shadow(2px 4px 6px #990000);
}

@keyframes move {
    0% {
       background-position: 0 0; 
    }
    25% {
        background-position: 100% 0; 
    }
    50% {
        background-position: 100% 100%; 
    }
    75% {
        background-position: 0 100%; 
    }
    100% {
        background-position: 0 0; 
    }
}